.produtos {
    display: flex;
    flex-wrap: wrap;
}

.produtos__verao {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.produtos__card__imagem {
    width: 13rem;
    height: 19rem;
    margin: 1.5rem;
    box-shadow: 3px 3px 5px rgba(114, 114, 114, 0.3);
    transition: .5s;
}

.produtos__card__imagem:hover {
    opacity: .5;
}

@media screen and (min-width:768px) {
    .produtos__card__imagem {
        width: 20rem;
        height: 28rem;
    }
}

@media screen and (min-width:1024px) {
    .produtos__card__imagem {
        width: 25rem;
        height: 35rem;
    }
}